// Cover Partial

.cover {
  background-color: $darkgray;
  color: $white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50vh;
  justify-content: center;
  text-align: center;

  .button {
  }
}

.cover__inner {
}

.cover__title {
}

.cover__author {
}