// =============================================================================
// _vars.scss
// -----------------------------------------------------------------------------
// Font Stacks
// -----------------------------------------------------------------------------
$opensans: "Open Sans", serif;
$sourcesans: "Source Sans Pro", sans-serif;
$merriweather: "Merriweather", "Georgia", serif;
$lato: "Lato", "Helvetica", sans-serif;

// -----------------------------------------------------------------------------
// Font Sizes (_verticalrythm.scss)
// -----------------------------------------------------------------------------
$base-font-size: 20px;
$base-line-height: 1.6;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// -----------------------------------------------------------------------------
// Colors
// http://clrs.cc
// -----------------------------------------------------------------------------
$navy: #001F3F;
$greynavy: #303747;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;
$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;

// Other colors
$darkgray: #333;

// -----------------------------------------------------------------------------
// Vars and Settings
// =============================================================================
$nav-bar-height: 50px;
$nav-bar-background: $greynavy;
$nav-bar-color: $white;

$base-font-color: $darkgray;
$action-color: $aqua;

$base-font-family: $merriweather;
$heading-font-family: $lato;

// -----------------------------------------------------------------------------
// Breakpoints
// =============================================================================
$medium-screen: 600px;
$large-screen: 900px;

$small-screen: new-breakpoint(max-width $medium-screen 12);
$medium-screen-up: new-breakpoint(min-width $medium-screen 12);
$large-screen-up: new-breakpoint(min-width $large-screen 12);

