// =============================================================================
// Vertical Rythm
// -----------------------------------------------------------------------------
// A small library to create vertical rythm and nice typography.
// =============================================================================
// Documentation: https://github.com/saviomuc/SCSS-Vertical-Rythm-Generator


// Font Variables
// =============================================================================
 @if(global-variable-exists(base-font-size)) {
   $base-font-size: $base-font-size;
 } @else {
   $base-font-size: 16px;
 }

@if(global-variable-exists(base-line-height)) {
  $base-line-height: $base-line-height;
} @else {
  $base-line-height: 1.5;
}

// Private
// =============================================================================
@function returnRem($target, $context) {
  @return ($target/$context) * 1rem;
}

// API
// =============================================================================

$baseline: $base-font-size * $base-line-height;

// Calculate and Set FontSize
@mixin setFontToBaseline($targetSize, $marginTop:1, $marginBottom:1) {
  $lineHeight:  ($baseline * ceil($targetSize / $baseline));

  // px fallback
  font-size: $targetSize;
  line-height: $lineHeight;
  margin-top: $baseline * $marginTop;
  margin-bottom: $baseline * $marginTop;
  // rem
  font-size:      returnRem($targetSize, $base-font-size);
  line-height:    returnRem($lineHeight, $base-font-size);
  margin-top:     returnRem($baseline * $marginTop, $base-font-size);
  margin-bottom:  returnRem($baseline * $marginBottom, $base-font-size);
}

// Vertical Grid for Debugging
// -----------------------------------------------------------------------------
@mixin debugShowVerticalGrid($verticalGridColor: red) {
  position: relative;
  &:after {
    content: '';
    display: block!important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(rgba($verticalGridColor, 0.1) 1px, transparent 1px);
    background-size: 100% $baseline;
  }
}
