// =============================================================================
// _typography.scss
// -----------------------------------------------------------------------------
// Basic Typography for all pages
// =============================================================================
body {
  @include font-feature-settings("kern", "liga", "pnum");
  background-color: #fff;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1 {
  font-family: $heading-font-family;
}

h2 {
  font-family: $heading-font-family;
}

h3 {
  font-family: $heading-font-family;
}

p {
  font-family: $base-font-family;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:hover {
    color: darken($action-color, 35%);
  }
}
