// =============================================================================
//  Base Variables (defaults)
// =============================================================================
// Overriding these values in the "Theme" stylesheet is preferable to modifying
// them in this file.

// Layout
$text-column-width: 800px !default;

// Breakpoints
$medium-screen: 600px !default;
$large-screen: 900px !default;

$small-screen: new-breakpoint(max-width $medium-screen 12);
$medium-screen-up: new-breakpoint(min-width $medium-screen 12);
$large-screen-up: new-breakpoint(min-width $large-screen 12);

// Typography
$base-font-family: $font-stack-system !default;
$base-font-weight: normal !default;
$heading-font-family: $base-font-family !default;
$heading-font-weight: 400 !default;

// Font Sizes
$base-font-size: 1em !default;

// Line height
$base-line-height: 1.5 !default;
$heading-line-height: 1.2 !default;

// Other Sizes
$base-border-radius: 3px !default;
$base-spacing: $base-line-height * 1em !default;
$small-spacing: $base-spacing / 2 !default;
$base-z-index: 0;

// Colors
$blue: #1565c0 !default;
$dark-gray: #333 !default;
$medium-gray: #999 !default;
$light-gray: #ddd !default;
$white: #fff;

// Font Colors
$base-font-color: $dark-gray !default;
$action-color: $blue !default;

// Border
$base-border-color: $light-gray !default;
$base-border: 1px solid $base-border-color !default;

// Background Colors
$base-background-color: #fff !default;
$secondary-background-color: tint($base-border-color, 75%) !default;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms !default;
$base-timing: ease !default;

// Z-index Values
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
